.player {
    width: 300px;
    background-color: rgba(115, 115, 115, 0.8);
    border-top-left-radius: 64px;
    border-bottom-left-radius: 64px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    &:hover {
        filter: brightness(1.25);
    }
    img {
        width: 40px;
        object-fit: contain;
        border-radius: 50%;
    }
    span {
        font-size: 24px;
        font-weight: 600;
    }
}

.player-active {
    background-color: rgba(240, 219, 62, 0.8);
}