.player {
    position: relative;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 180px;
    border-radius: 16px;
    cursor: pointer;
    &:hover {
        filter: brightness(1.2);
    }
    span {
        font-size: 24px;
        font-weight: 600;
        color: #426DFB;
        word-break: break-word;
    }
}

.player-img {
    width: 60px;
    object-fit: contain;
    border-radius: 50%;
}

.player-nr {
    color: #ff00cf !important;
    text-shadow: 0 0 3vw #ff00cf !important;
}

.player-active {
    border-color: #ff00cf;
    background-image: url('./../../assets/img/action_bg/active_bg.svg');
}

@media (max-width: 360px) {
    .player {
        width: 120px;
        flex-direction: column;
        gap: 8px;
        span {
            font-size: 16px;
        }
    }
    .player-img {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 36px;
    }
}

@media (min-width: 360px) {
    .player {
        width: 120px;
        flex-direction: column;
        gap: 8px;
        span {
            font-size: 16px;
        }
    }
    .player-img {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 44px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .player {
        width: 120px;
        span {
            font-size: 20px;
        }
    }
    .player-img {
        position: initial;
        width: 60px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .player {
        flex-direction: row;
        width: 180px;
        gap: 16px;
        span {
            font-size: 20px;
        }
    }
    .player-img {
        width: 60px;
    }
}