.player {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    width: 180px;
    cursor: pointer;
    &:hover {
        background-color: rgba(218, 216, 216, 0.8);
    }
    span {
        font-size: 24px;
        font-weight: 600;
        word-break: break-word;
    }
}

.player-img {
    width: 60px;
    object-fit: contain;
    border-radius: 50%;
}

.player-active {
    background-color: rgba(240, 219, 62, 0.8);
}

@media (max-width: 360px) {
    .player {
        width: 120px;
        flex-direction: column;
        gap: 8px;
        span {
            font-size: 16px;
        }
    }
    .player-img {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 36px;
    }
}

@media (min-width: 360px) {
    .player {
        width: 120px;
        flex-direction: column;
        gap: 8px;
        span {
            font-size: 16px;
        }
    }
    .player-img {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 44px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .player {
        width: 120px;
        span {
            font-size: 20px;
        }
    }
    .player-img {
        position: initial;
        width: 60px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .player {
        flex-direction: row;
        width: 180px;
        gap: 16px;
        span {
            font-size: 20px;
        }
    }
    .player-img {
        width: 60px;
    }
}