.content {
    background-size: cover;
    background-position: center;
}

.card-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
        position: absolute;
        width: 120px;
    }
}

.card {
    right: 25px;
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
        transform: scale(1.05) translateY(-4px);
    }
}

.draw-card {
    // Must be the same as the animation of 100% so that the card remains lying
    transform: scale(1) translateX(240px) translateY(-240px) rotate(12deg);
    animation: draw-card-animation 1200ms ease-in-out;
}

.played-card {
    transform: scale(1) translateX(240px) translateY(-240px) rotate(12deg);
}

@keyframes draw-card-animation {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.5);
    }
    60% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1) translateX(240px) translateY(-240px) rotate(12deg);
    }
}

.player-container {
    position: absolute;
    top: 16px;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.game-menu {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.player-counter {
    color: white;
    font-weight: bold;
    text-align: center;
}

.menu-title {
    font-weight: bold;
    pointer-events: none
}

.game-over-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 360px) {
    .card-stack {
        position: absolute;
        bottom: 230px;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            width: 80px;
        }
    }
    .draw-card {
        transform: scale(1) translateX(100px) translateY(-140px) rotate(12deg);
    }
    .played-card {
        transform: scale(1) translateX(100px) translateY(-140px) rotate(12deg);
    }
    @keyframes draw-card-animation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.5);
        }
        60% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1) translateX(100px) translateY(-140px) rotate(12deg);
        }
    }
    .game-menu {
        right: -8px;
    }
}

@media (min-width: 360px) {
    .card-stack {
        position: absolute;
        bottom: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            width: 80px;
        }
    }
    .draw-card {
        transform: scale(1) translateX(100px) translateY(-140px) rotate(12deg);
    }
    .played-card {
        transform: scale(1) translateX(100px) translateY(-140px) rotate(12deg);
    }
    @keyframes draw-card-animation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.5);
        }
        60% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1) translateX(100px) translateY(-140px) rotate(12deg);
        }
    }
    .game-menu {
        right: -8px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .card-stack {
        position: absolute;
        bottom: 30%;
        img {
            width: 120px;
        }
    }
    .draw-card {
        transform: scale(1) translateX(100px) translateY(-240px) rotate(12deg);
    }
    .played-card {
        transform: scale(1) translateX(100px) translateY(-240px) rotate(12deg);
    }
    @keyframes draw-card-animation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.5);
        }
        60% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1) translateX(100px) translateY(-240px) rotate(12deg);
        }
    }
}