.content {
    background-image: url('./../../assets/img/background/wood_bg.svg');
    background-size: cover;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
        transform: scale(1.125) translateY(-10px);
    }
}

.draw-card {
    transition: all 125ms ease-in-out;
    transform: scale(1.5) !important;
}