.content {
    background-image: url('./../../assets/img/background/wood_bg.svg');
    background-size: cover;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 120px;
    }
}