<!-- TODO Ask: let i = index; Ask: [name]="player" -->
<app-player class="player-position" *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 100 + (i * 140)}" [name]="player"></app-player>

<div class="content centered fullscreen">
    <div class="card-stack centered">
        <!-- Card stack -->
        <img src="./../../assets/img/cards/card_cover.png" alt="" *ngFor="let c of [0, 1, 2, 3, 4]; let i = index;" [ngStyle]="{'right.px': i * 5}">
        <img src="./../../assets/img/cards/card_cover.png" alt="" (click)="drawCard()" class="card top-card">

        <!-- Played cards -->
        <!-- TODO Ask: *ngfor -->
        <img src="./../../assets/img/cards/{{ playedCard }}.png" alt="" *ngFor="let playedCard of game.playedCards" class="card played-card">

        <!-- Current card (Animation) -->
        <img src="./../../assets/img/cards/{{ currentCard }}.png" alt="" *ngIf="drawCardAnimation" class="card draw-card">
    </div>
</div>