.avatar-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        filter: brightness(1.25);
    }
}

@media (max-width: 360px) {
    .avatar-img {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 360px) {
    .avatar-img {
        width: 60px;
        height: 60px;
    }
}