.bg-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.bg-preview-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
    &:hover {
        filter: brightness(1.5);
    }
}

@media (max-width: 360px) {
    .bg-preview-img {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 360px) {
    .bg-preview-img {
        width: 60px;
        height: 60px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .bg-preview-img {
        width: 76px;
        height: 76px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .bg-preview-img {
        width: 92px;
        height: 92px;
    }
}