.game-info-card {
    position: absolute;
    right: 100px;
    bottom: 32px;
    left: 100px;
}

@media (max-width: 360px) {
    .game-info-card {
        right: 16px;
        left: 16px;
    }
}

@media (min-width: 360px) {
    .game-info-card {
        right: 16px;
        left: 16px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .game-info-card {
        right: 10%;
        left: 10%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .game-info-card {
        right: 15%;
        left: 15%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .game-info-card {
        right: 20%;
        left: 20%;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .game-info-card {
        right: 25%;
        left: 25%;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .game-info-card {
        right: 30%;
        left: 30%;
    }
}