.game-info-card {
    position: absolute;
    right: 100px;
    bottom: 32px;
    left: 100px;
}

@media (max-width: 360px) {
    .game-info-card {
        right: 16px;
        left: 16px;
    }
}

@media (min-width: 360px) {
    .game-info-card {
        right: 16px;
        left: 16px;
    }
}